<!-- <form ngNoForm> -->
<form #formRef="ngForm" (ngSubmit)="saveSubmit(formRef)">
  <div fxLayout="column" fxLayoutAlign="stretch stretch" fxLayoutGap="20px">

    <pre>{{ playlist | json }}</pre>
    <pre>{{ draft | json }}</pre>

    <mat-form-field>
      <!-- <mat-label>Name:</mat-label> -->
      <input matInput placeholder="Name" ngModel name="name" #nameRef="ngModel">
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
      <mat-hint>{{nameRef.value?.length}} / 170</mat-hint>
    </mat-form-field>

    <p (click)="details =! details">Details</p>
    <ng-container ngModelGroup="details" *ngIf="details">
      <div>
        <mat-checkbox [ngModel]="playlist.public" name="public">Public</mat-checkbox>
      </div>

      <mat-form-field>
        <textarea matInput placeholder="Description" [ngModel]="playlist.description" name="description"></textarea>
      </mat-form-field>
    </ng-container>

  </div>


  <button mat-raised-button color="warn" (click)="cancelClicked()">Cancel</button>
  <button mat-raised-button color="primary" type="submit">Save</button>

</form>
