
<div fxLayout="row wrap" fxLayoutAlign="space-around stretch" fxLayoutGap="20px">

  <app-album-card [album]="result"
  *ngFor="let result of results"
  fxFlex.gt-xs="calc(33.3% - 20px)"
  [style.padding-bottom.px]="20">
  </app-album-card>

</div>
