<p>playlists works!</p>

<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px">
  <div fxFlex="30">
    <app-playlist-list
    [items]="playlists"
    [selectedId]="selectedId"
    (selectedIdChange)="select($event)"></app-playlist-list>

  </div>
  <div fxFlex="50">
    <p *ngIf="!selected">Please select playlist</p>
    <div [ngSwitch]="mode" *ngIf="selected">

      <div *ngSwitchCase=" 'details' ">
        <app-playlist-details [playlist]="selected"
        (edit)="switchToEdit()"></app-playlist-details>
      </div>

      <div *ngSwitchCase=" 'edit' ">
        <app-playlist-edit-form [playlist]="selected"
        (cancel)="switchToDetails()"
        (save)="save($event)"></app-playlist-edit-form>
      </div>
    </div>



  </div>
</div>
