<mat-sidenav-container class="example-container" fxFlexFill>
  <mat-sidenav mode="side" opened fxFlex="1 1 200px" fxLayout="column" fxLayoutGap="20px">
    <mat-toolbar color="primary">
      <mat-icon></mat-icon>

    </mat-toolbar>
    <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="20px">
      <mat-list>
        <mat-list-item routerLink="/music">
          Music search
          <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item routerLink="/playlists">
          Playlists
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
      <div fxFlex="1 1 auto"></div>
      <app-recent-search *ngIf="hideRecent"></app-recent-search>
      <p (click)="hideRecent=!hideRecent">Toggle recent</p>

    </div>
  </mat-sidenav>
  <mat-sidenav-content [style.width]="'calc(100vw - 200px)'">
    <mat-toolbar color="primary">
      <mat-icon></mat-icon>
      <div fxFlex="1 1 auto"></div>
      <button mat-button (click)="login()">Login</button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
