/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-list-item.active {
  background: #3F51B5;
  color: #F5F5F5 !important;
}
