<div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="20px">
  <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="20px">

    <div fxFlex="50%" *ngIf="playlists | async as list">
      <app-playlist-list [items]="list" (selectedIdChange)=" selectById($event)"></app-playlist-list>
    </div>

    <div fxFlex="50%" *ngIf="selected | async as playlist">
      <app-playlist-details [playlist]="playlist"></app-playlist-details>
    </div>

  </div>
</div>
