<div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="20px">

  <div fxLayout="row" fxLayoutAlign="stretch stretch" fxLayoutGap="20px"
      [formGroup]="searchForm">

    <!-- <pre>{{searchForm.value | json }}</pre> -->

    <mat-form-field fxFlex="100%">
      <!-- <mat-label>Name:</mat-label> -->
      <input matInput placeholder="Name"
      [errorStateMatcher]="matcher"
      formControlName="query" #ref="matInput">

      <mat-error *ngIf="ref.ngControl.hasError('required')">Query is requried</mat-error>

      <mat-error *ngIf="ref.ngControl.getError('minlength') as error ">
        Minimum {{error.requiredLength}} characters
      </mat-error>

      <mat-error *ngIf="ref.ngControl.getError('censor') as error ">
        Cannot contain "{{error.badword}}"
      </mat-error>

      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
      <mat-hint>{{ref.ngControl.value.length}} / 170</mat-hint>
      <mat-hint align="end" *ngIf="ref.ngControl.pending">...Validating</mat-hint>
    </mat-form-field>


    <!-- <input matInput placeholder="Name" formControlName="type"> -->

    <button mat-fab color="primary" (click)="submitSearch()">
      <mat-icon>search</mat-icon>
    </button>

  </div>

  <!-- <app-form-messages>
    <! -- <ng-container *ngIf="dirty"> <ng-content/> </ng-container> -- >
    <input formControlName="query"> <! -- @ContentChild(FormCOntrol) -- >
    <mat-error *ngIf="field.hasError('required')">
      Query is requried
    </mat-error>
  </app-form-messages> -->

<!-- <ng-container *ngIf="searchForm.get('query') as field">
  <ng-container *ngIf="field.touched || field.dirty">
      <mat-error *ngIf="field.hasError('required')">
      Query is requried
    </mat-error>

    <mat-error *ngIf="field.getError('minlength') as error ">
      Minimum {{error.requiredLength}} characters
    </mat-error>
  </ng-container>
</ng-container> -->

</div>
